.wrapper {
    background-image: var(--site-background-image) !important;
    background-repeat: repeat;
}

.navigation-2-hp {float:right; !important;}
.header-nav-hp {position: sticky; top: 0; z-index: 1020; !important;}
.correspondents-block-right-hp {position: relative;}
.correspondents-block-hp{ padding:15px 0px 0px 0 !important;}
.politics-left-pp{ width:100% !important;}
.main-block-hp {padding:0px !important; margin-bottom: 10px!important; margin-top: 20px !important;}
.stories-block-hp{ padding:15px 0 10px 0;}
.comment-input-dp input,
.comment-input-dp .comment-input-field,
.comment-input-dp .reply-input-field { height:90px !important; width:100%; border:2px solid #CACACA; border-radius:5px; background:#F0F0F0; padding:0px; font-size:14px; color:#A1A1A1; }
.emojionearea-search .search {height:30px !important;}
.emojioneemoji {height:20px !important;}
.child-comment {padding: 10px 10px; margin-bottom: 10px; background: #eeeded; border-radius: 10px; width: 86%; border: 1px solid #cecbcb;}
.page-item.active a{ background-color: #1D3352; border-color: #1D3352; color:#fff; font-family: 'proximanova-semibold';  }
.btn-profile {
    height: 40px;
    line-height: 40px;
    width: 145px;
    float: left;
    font-size: 14px;
    font-family: 'ProximaNova-Regular';
    /* margin-right: 215px; */
    margin-top: 10px;
}
.mt-10 {margin-top: 10px;}
.story-edit-dropify .dropify-wrapper {height:97px !important;}
.edit-story-container {/*border: 1px solid #F0F0F0;*/ border-radius: 5px; padding: 10px; margin: 10px; background:white;}
.edit-story-heading {/*background: #f0f0f0;*/ padding: 4px; border-radius: 5px;}
.edit-story-cancel {color: white !important; margin: 10px 0px;}
.count-badge {background: red; padding: 3px 7px; border-radius: 15px; margin: 0px; font-size: 10px; width: 20px; display: inline-block; height: 19px;}
.stories-contact-form-box {font-size: 16px !important; font-weight: bold;}
.paypal-link {display: block; width: 100%; text-align: center;}
.paypal-link img {height: 30px;}
.profile-info-prp {min-height:600px;}
.login-with-btn-lp a{ padding:12px; width:202px; height:44px; line-height:40px;  border:2px solid #56C7FF;  background:#56C7FF; color:#1D3352; font-size:14px; border-radius:3px; }
.login-other-btn-lp {padding-top: 20px !important;}
.search-input-hp input{background: #ffffff !important; border: 2px solid var(--search-color) !important;}
.search-btn-hp input{ background:var(--search-color) url(../images/search.svg) no-repeat center center !important;}
.logo-hp{ padding:5px; !important;}
.logo-hp img{ max-width:none !important; max-height:46px!important;}

#loading-div {width: 100%; height: 100%; top: 0; left: 0; position: absolute; display: none; opacity: 0.7; background-color: #fff; z-index: 99; text-align: center;}
#loading-image {position: absolute; top: 45%; left: 50%; z-index: 100;}
.clicked-author-class .corres-img-text-hp {font-size:14px; font-weight: bolder;}
.rating-stars ul {list-style-type:none; padding:0; -moz-user-select:none; -webkit-user-select:none; }
.rating-stars ul > li.star {display:inline-block;}
.rating-stars ul > li.star > i.fa {font-size:1.5em; color:#ccc;}
.rating-stars ul > li.star.hover > i.fa {color:#FFCC36;}
.rating-stars ul > li.star.selected > i.fa {color:#FF912C;}

.menu-mobile {display: none;}
.menu-desktop {display: block;}

.social-icons-header {width: 35%;}
.social-icons-header li a {color: var(--login-bar-items-color);}
.social-icons-header li {float:left; margin: 6px;}
.login-links-header {width: 40%;}
.login-links-header li a {color: var(--login-bar-items-color);}
.login-links-header li {float:left;margin: 6px;}
.common-title-lines-hp {width: 100%!important;}
.common-title-hp {padding-bottom: 15px !important;}
.politics-block-pp {padding: 20px 0px !important;}

.sh-social-widget li {float:left; margin: 0px 10px; padding: 3px 2px; color: white;}
.sh-social-widget li:hover > a {color:#56C6FF;}
.sh-social-widget li a {font-size:30px; font-weight: bold; color:#767676;}

.sh-widget .category-level li {padding: 2px;}
.sh-widget .category-level li a {color:#000; font-weight: bold;}
.first-category-level {border-radius: 5px; padding: 5px;}
.second-category-level {margin:0px 20px;}
.third-category-level {margin:0px 20px;}

.page-level li {padding: 2px;}
.page-level li a {color:#000; font-weight: bold;}
.first-page-level {border-radius: 5px; padding: 5px;}
.second-page-level {margin:0px 20px;}
.third-page-level {margin:0px 20px;}

.sh-widget {overflow: hidden; margin-bottom: 15px;}
.sh-widget img {max-width: 100%;}
.sh-widget-google-login, .sh-widget-facebook-login {display: block; background: #1D3352; font-size: 12px !important;
    padding: 5px;
    margin: 4px;
    text-align: center;
    border-radius: 5px;
color: #FFF}
.sh-widget-facebook-login {display: block; background: #1D3352; font-size: 12px !important;}
.sh-widget-google-login img {height: 12px !important;}
.sh-widget-facebook-login img {height: 20px !important;}

.sh-footer-widget {overflow: hidden; margin-bottom: 15px;}
.sh-footer-widget img {max-width: 100%; border-radius: 5px;}
.footer-list-container {padding: 0px 0px 15px 0px;}
.footer-only-titles {padding: 0px !important;}

.owl-carousel-sidebar-1 {min-height: 220px !important;}
.owl-carousel-sidebar-2 {min-height: 250px !important;}
.owl-carousel-sidebar .owl-nav {
    position: absolute;
    left: 135px;
    bottom: 0;
}
.owl-carousel-footer-1 {min-height: 220px !important;}
.owl-carousel-footer-2 {min-height: 250px !important;}
.owl-carousel-footer .owl-nav {
    position: absolute;
    left: 135px;
    bottom: 0;
}
.sidebar-list-container {margin-bottom: 20px;}
.sidebar-list-text {}
.sidebar-list-image {}
.sidebar-list-image img {max-width: 130%; margin-top: 6px; border-radius: 5px;}
.sidebar-search {width: 100% !important; margin:0px !important;}
.detail-top-ad {text-align: center;}
.detail-top-ad img {max-width: 100%;}
.detail-bottom-ad {text-align: center;}
.detail-bottom-ad img {max-width: 100%;}
.details-info-dp img {max-width: 100% !important;}
.footer-search-btn-hp button{
    font-size: 13px;
    color: #fff;
    background: var(--subscribe-box-color);
    height: 36px;
    border: 0px;
    width: 100%;
    border-radius: 0px 2px 2px 0px;
}

.list-row {margin-bottom: 20px !important;}
.list-row-image {max-width: 100% !important; border-radius: 5px !important;}
.category-grid-container {margin: 0px 0px 20px 0px;}
.search-grid-container {margin: 0px 0px 20px 0px;}
.readable-content p {
    font-size: 14px !important;
    font-weight: bold;
    color: #3a3a3a;
    line-height: 1.8em;
}
/*var(--footer-items-color)*/
.sh-footer-widget h2, .sh-footer-widget p, .sh-footer-widget a {
    color: var(--footer-items-color) !important;
}
.sh-footer-social-widget li {
    float: left;
    margin: 0px 10px;
    padding: 3px 2px;
    color: white;
}
.sh-footer-social-widget li a {
    font-size: 25px;
    font-weight: bold;
    color: var(--footer-items-color);
}
.story-favorite {color:red;}
.account-links {
    padding: 5px;
    border-radius: 5px;
    width: 45%;
    float: left;
    margin: 15px;
    font-weight: bold;
}
.btn-comment{ height:40px; line-height:40px; width:145px; float:right; font-size:14px; font-family: 'ProximaNova-Regular'; margin-right:215px; }
.profile-info-prp {padding:20px 0px !important;}
.reward-row-front {background-color: white; padding:10px; border-radius: 5px; margin:5px; border:1px solid #dadada;}
.reward-row-front-left img {width: 100% !important;}
.reward-row-front-right {}

.details-banner-dp img {margin-top: 20px !important; border-radius: 5px !important;}
.stories-img-hp img {height:155px !important;}
.corres-small-box-img-hp img {height: 135px !important;}
.stories-img-relevant img {height: 80px !important; }
/*===============================*/
/*Header Category Menu Starts*/
/*===============================*/
.header-search-main-hp {margin-bottom:10px;}
.navbar-toggler {background: white; padding: 5px; margin: 10px;}
.dropdown-menu{padding:0;margin:0;border:0 solid transition!important;border:0 solid rgba(0,0,0,.15);border-radius:0;-webkit-box-shadow:none!important;box-shadow:none!important}
.category-menu a, .navbar-default .navbar-nav > li > a, .category-menu ul li a , .navbar-expand-lg .navbar-nav .nav-link{color:#fff;font-size:16px;text-transform:capitalize;padding:16px 15px;font-family:'Roboto',sans-serif;display: block !important;}
.category-menu .active a,.category-menu .active a:focus,.category-menu .active a:hover,.category-menu li a:hover,.category-menu li a:focus ,.navbar-default .navbar-nav>.show>a, .navbar-default .navbar-nav>.show>a:focus, .navbar-default .navbar-nav>.show>a:hover{color: var(--category-item-highlight-color);background: var(--category-highligt-color);outline: 0;}
.category-menu .collapse ul > li:hover > a{background: var(--category-highligt-color);}
.category-menu .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover{background: var(--category-highligt-color);}
.category-menu .collapse ul ul ul > li:hover > a{background: var(--category-highligt-color);}
.category-menu .collapse ul ul, .category-menu .collapse ul ul.dropdown-menu{background:var(--category-background);}
.category-menu .collapse ul ul ul, .category-menu .collapse ul ul ul.dropdown-menu{background:var(--category-background);}
.category-menu .collapse ul ul ul ul, .category-menu .collapse ul ul ul ul.dropdown-menu{background:var(--category-background)}
.category-menu{background: none;border: 0 solid;margin: 0;padding: 0;min-height:20px;}
@media only screen and (min-width: 767px) {
    .category-menu .collapse ul li:hover> ul{display:block}
    .category-menu .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
    .category-menu .collapse ul ul li{position:relative}
    .category-menu .collapse ul ul li:hover> ul{display:block}
    .category-menu .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
    .category-menu .collapse ul ul ul li{position:relative}
    .category-menu .collapse ul ul ul li:hover ul{display:block}
    .category-menu .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}
}
@media only screen and (max-width: 767px) {
    .navbar-nav .show .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 35px}
    .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 45px}
    .navbar-collapse {max-height: 280px; overflow-y: auto;}
}
/*===============================*/
/*Header Category Menu Ends*/
/*===============================*/

/*===============================*/
/*Header Page Menu Starts*/
/*===============================*/
.navbar-toggler {background: white; padding: 5px; margin: 10px;}
.dropdown-menu{padding:0;margin:0;border:0 solid transition!important;border:0 solid rgba(0,0,0,.15);border-radius:0;-webkit-box-shadow:none!important;box-shadow:none!important}
.page-menu a, .navbar-default .navbar-nav > li > a, .page-menu ul li a , .navbar-expand-lg .navbar-nav .nav-link{color:var(--page-item-color);font-size:16px;text-transform:capitalize;padding:16px 15px;font-family:'Roboto',sans-serif;display: block !important;}
.page-menu .active a,.page-menu .active a:focus,.page-menu .active a:hover,.page-menu li a:hover,.page-menu li a:focus ,.navbar-default .navbar-nav>.show>a, .navbar-default .navbar-nav>.show>a:focus, .navbar-default .navbar-nav>.show>a:hover{color: var(--page-item-highlight-color);background: var(--page-highligt-color);outline: 0;}
.page-menu .collapse ul > li:hover > a{background: var(--page-highligt-color);}
.page-menu .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover{background: var(--page-highligt-color);}
.page-menu .collapse ul ul ul > li:hover > a{background: var(--page-highligt-color);}
.page-menu .collapse ul ul, .page-menu .collapse ul ul.dropdown-menu{background:var(--page-background); z-index:1050;}
.page-menu .collapse ul ul ul, .page-menu .collapse ul ul ul.dropdown-menu{background:var(--page-background); z-index:1050;}
.page-menu .collapse ul ul ul ul, .page-menu .collapse ul ul ul ul.dropdown-menu{background:var(--page-background); z-index:1050;}
.page-menu{background: none;border: 0 solid;margin: 0;padding: 0;min-height:20px;}
@media only screen and (min-width: 767px) {
    .page-menu .collapse ul li:hover> ul{display:block}
    .page-menu .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
    .page-menu .collapse ul ul li{position:relative}
    .page-menu .collapse ul ul li:hover> ul{display:block}
    .page-menu .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
    .page-menu .collapse ul ul ul li{position:relative}
    .page-menu .collapse ul ul ul li:hover ul{display:block}
    .page-menu .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}
}
@media only screen and (max-width: 767px) {
    .navbar-nav .show .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 35px}
    .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 45px}
    .navbar-collapse {max-height: 280px; overflow-y: auto;}
}
/*===============================*/
/*Header Page Menu Ends*/
/*===============================*/
