.jobs-chart {
	position: relative; height: 300px;
}
.top-candidate-chart {
	height:296px !important;
}
.select2-container {
	width: 120px !important;
}
.dashboard-add-note-btn {
	margin-top: -2px;
	margin-right: 5px;
}